@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.HeaderInfor {
    width: 100%;
    /* background-color: black; */
    color: #BBBDBC;
    position: absolute;
    z-index: 999;
}
.HeaderInfor p{
    font-family: "Kanit", sans-serif;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}
.HeaderInfor_header {
    padding: 20px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.HeaderInfor_tittle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.HeaderInfor_tittle h1{
    font-size: 60px;
    font-family: "Kanit", sans-serif;
    text-align: center;
    font-weight: 500;
    margin: 0;
}

.HeaderInfor_tittle p{
    font-family: "Kanit", sans-serif;
    text-align: center;
    font-weight: 500;
    margin: 0;
    margin-bottom: -40px;
}

.tittle_group .tittle_group-1 {
    margin-top: 40px;
    margin-bottom: -40px;
}

.Button_start{
    min-width: 100px;
}

.Icon-next{
    font-weight: 600;
}